body {
    background-image: url('https://store-images.s-microsoft.com/image/apps.14541.14487568773448537.eefbf3e0-fd25-4d51-bbe4-457475ed6752.7ec24493-0f1f-4c58-957b-149d6eb4ddcd?mode=scale&q=90&h=1080&w=1920');
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;


}

.container {
    text-align: center;
    margin-bottom: 10px;
}

.gamecontainer {
    margin-top: 150px;
    margin-right: 10px;
    border-style: 1px solid;
    display: flex;
    min-height: 600px;
    justify-content: center;
    align-items: flex-start;

}

.table {

    /* table-layout:;
    width: 150px;
    overflow: hidden; */
    max-width: 50px;
    max-height: 50px;
    z-index: 1;
    border: 3px solid black;
    border-collapse: collapse;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    cursor: pointer;

}

.cell {
    max-width: 35px;
    max-height: 35px;
    text-align: center;
    transition: 0.2s;
    border: 1px, solid darkblue;
    background-color:blueviolet;
    cursor: pointer;
}

.img {
    width: 20px;
    height: 20px;
}

.smile {
    margin-left: 750px;
    position: absolute;
    animation: floatBubble 1s infinite;
    animation-direction: alternate;
    margin-top: -21px;
    width: 30px;
    height: 30px;
    cursor: pointer;

}

.cell img {
    width: 20px;
    height: auto;
}
.cell:selection {
    background-color: transparent;
}
.show-cell {
    background-color:thistle;
}

.hide-cell {
    display: none;
}

h1 {
    color: thistle;
    border-color: black;
    font-style: italic;
    text-align: center;
    font-size: 70px;

}

.lose {
    background-color: red;
}


.timer {
    position: absolute;
    margin-left: 1000px;
    font-size: 20px;
    text-align: center;
    color: white;
    margin-top: -21px;
    font-family: 'Franklin Gothic Medium';


}

.flag-counter {
    position: absolute;
    font-size: 20px;
    margin-left: 600px;
    color: white;
    margin-top: -25px;
    font-family: 'Franklin Gothic Medium';


}
.hints{
    position: absolute;
    font-size: 20px;
    margin-left: 370px;
    margin-top: -47px;
    color: white;
    font-family: 'Franklin Gothic Medium';
}
.hinted-cell{
    background-color: sandybrown;
    opacity: 70%;
}

.lives {
    position: absolute;
    font-size: 20px;
    margin-left: 850px;
    color: white;
    margin-top: -29px;
    font-family: 'Franklin Gothic Medium';
}

.btn-container {
    position: absolute;
    bottom: 690px;
    width: 100%;
    height: 60px;
    margin-left: -72px;
}

.btn {

    position: relative;
    width: 100px;
    height: 30px;
    color: white;
    background-color:blueviolet;
    margin-left: 10px;
    margin-top: 20px;
    bottom: 8px;
    left: 50px;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium';

}

.modal {
    display: none;
    background-color: red;
    color: black;
    position: absolute;
    width: 354px;
    height: 80px;
    text-align: center;
    margin-left: 1250px;
    margin-top: -335px;
    font-size: 20px;
}


.btn-modal {
    background-color:blueviolet;
    color:white;
    margin-left: 257spx;
    cursor: pointer;
    margin-top: -25px;
    display: block;

}

.modal h1 {
    color: white;
}

.one {
    color: green;
    text-shadow: black 1px 1px 1px;
}

.two {
    color: yellow;
    text-shadow: black 1px 1px 1px;
}

.three {
    color: orange;
    text-shadow: black 1px 1px 1px;
}

.four {
    color: red;
    text-shadow: black 1px 1px 1px;
}